@charset "utf-8";
/*-----------------------------全局样式-------------------------------------*/
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0;}
body{ font-weight: normal;font-style: normal;font-size: 100%;font-family:'Microsoft YaHei', Arial, Tahoma!important; }
ol, ul ,li{list-style: none;} 
img {border: 0; }
a img,img {border: 0;vertical-align: middle;}

a{ color:#666;}
a:hover{color:#48b84a; cursor:pointer;}
a:focus {outline-style: none; color:#666;}
a:visited{ color:#666;}
a,a:visited,a:focus,a:hover{text-decoration:none ;}
a,area{blr: expression(this.onFocus =   this.blur () );}
*:focus { outline: none!important;}
ul li {list-style: none;}
table {border-collapse: collapse;}
th {white-space:nowrap; font-weight:bold}
td {word-break:break-all;}
input,select,textarea,button{vertical-align: middle;background:none}
input[type="checkbox"], input[type="radio"]{
  background: transparent;
  border: 0;
}
i {font-style: normal; }
.clearfix, .row {*zoom: 1; }
.clearfix:before, .row:before, .clearfix:after, .row:after {content: "";display: table;line-height: 0; }
.clearfix:after, .row:after {clear: both; }
.dis{display:block;}
.distable{display:table;}
.disinline{
  display: inline-block;
}
.undis{display:none;}
.form input{float: left;}
/*字体 */
.efontfamily{font-family: Arial; }
/*-- div居左居右 --*/
.fleft{ float:left}
.fright{ float:right}

/*-- 常规按钮 --*/
.btn_normal{ padding:5px 10px; border:1px solid #d2d2d2; border-radius:3px; font-size:12px;}
.btn_normal:hover{ border:1px solid #48b84a;}
.btn1{ padding:10px 20px; background:#2e9e30; border-radius:3px; font-size:12px; color:#fff;}
.btn1:hover{ background:#48b84a; color:#fff;}
.btn2{ padding:10px 20px; background:#f7f7f7; border:1px solid #dfdfdf; border-radius:3px; font-size:12px; color:#666;}
.btn2:hover{ border:1px solid #48b84a;}
/*-- 1像素灰色边框 --*/
.border{ border:1px solid #efe9ed}
.border01{ border:1px solid #efe9ed}
.borderbr{ border-bottom:1px solid #c0a4b7; border-right:1px solid #c0a4b7}
.bordertl{ border-top:1px solid #c0a4b7; border-left:1px solid #c0a4b7}
.borderbottom{ border-bottom:1px dashed #b7b7b7;}
.borderbottomgray{ border-bottom:1px dashed #f5f5f5;}
/*-- 背景颜色 --*/
.background{ background:#FFF}
.background01{ background:#f5f7f9}
.background02{ background:#ededed}
.background03{ background:#eff3f5}
.bgMoeny{ background:url(../images/icon.png) -5px -412px no-repeat; text-indent:20px;}
/*-- 内间距 --*/
.pad15{ padding:15px;}
.pad10{ padding:10px}
.pad5{padding:5px;}
.pr{ padding-right:10px}
.pb{ padding-bottom:10px}
.pb01{ padding-bottom:15px}
.pl{ padding-left:10px}
.pl15{ padding-left:15px}
.pl100{ padding-left:100px}
.pt{ padding-top:15px}
.pt30{padding-top:30px;}
/*-- 外间距 --*/
.margin{ margin:0 auto}
.margin01{margin:30px auto}
.mlr20{ margin:0 20px;}
.mt5{ margin-top:5px}
.mt{ margin-top:10px}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt27{ margin-top:27px;}
.mt33{ margin-top:33px;}
.mt23{ margin-top:23px;}
.mt40{ margin-top:40px;}
.mt60{ margin-top:60px;}
.mt80{ margin-top:80px;}
.mr{ margin-right:10px}
.mr20{ margin-right:20px}
.ml{ margin-left:10px}
.ml20{ margin-left:20px}
.ml30{ margin-left:30px}
.ml60{ margin-left:60px}
.mb{ margin-bottom:10px}
.mb15{margin-bottom:15px;}
.mb30{margin-bottom:30px;}
.mb45{margin-bottom:45px;}
.mb60{margin-bottom:60px;}
.mr60{ margin-right:60px; }
/*-- 字体颜色 --*/
.red{ color:#fc613f;}
.red a{ color:#7f3a45}
.red a:hover{ color:#4c4c4c}
.red01{ color:#a67897}
.red01 a{ color:#a67897}
.red01 a:hover{ color:#4c4c4c}
.orange{ color:#ff6600}
.orange1{color: #ff8d41;}
.white{ color:#fff}
.gray{ color:#666}
.color333{color:#333;}
.color99 { color: #999999;}
.color66 { color: #666666;}
.color00 {color: #010000;}
.black{ color:#000}
.orange01{ color:#d97509}
.green{ color:#48b84a}
/*-- 字体大小 --*/
.f12{ font-size:12px}
.f14{ font-size:14px}
.f15{ font-size:15px}
.f16{ font-size:16px}
.f20{ font-size:20px}
.f30{ font-size:30px}
.f40{ font-size:40px}

/*-- 字体加粗 --*/
.fbold{ font-weight:bold}
/*-- 文字位置 --*/
.tr{text-align:right}
.tc{text-align:center}
.tl{text-align:left}
/*!*-- 阴影 --*!*/
/*.shadow{-webkit-box-shadow:#ccc 0px 0px 8px;-moz-box-shadow:#ccc 0px 0px 8px;box-shadow:#ccc 0px 0px 8px;behavior: url(/PIE.htc);}*/
/*-- 圆角 --*/
.radius{border-radius:10px;}
/*-- form --*/
.input,.select,.textarea{line-height:24px;}
.button{ background:#f4708d; width:80px; height:23px;}

/*-- 表格 --*/
.table{ font-size:14px}
.table th{ background:#eee;}
/*-- 行高 --*/
.lh23{ line-height:23px;}
.lh26{ line-height:26px;}
.lh28{ line-height:28px;}
.lh37{ line-height:37px;}
.lh40{ line-height:40px;}
.lh45{ line-height:45px;}
.lh13{line-height:13px;}
.lh10{line-height:10px;}
/*-- 注释 --*/
.annotation{ border:1px solid #f0e0cc; padding:0 5px; color:#6a461c;}

/*-- 外框宽度 --*/
.wrapper{width:100%; min-width: 1200px;}
.wrapper1200{width:1200px; min-width: 1200px; margin:0 auto;}

.relative{ position:relative;}
.text-ellipsis{ overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;}


/* google 浏览器去除下载按钮 */
video::-internal-media-controls-download-button {
  display:none;
}
video::-webkit-media-controls-enclosure {
  overflow:hidden;
}
video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}
/* google 浏览器去除换色背景 */
input:-webkit-autofill {
  outline:none;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%; 
  /* text-size-adjust 设为 none 或者 100% 关闭字体大小自动调整功能. */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }
b, strong {
  font-weight: bold; }

h1 {
  font-size: 2em;
  margin: 0.4em 0; }


hr {
  box-sizing: content-box;
  height: 0; }

/* Forms
   ========================================================================== */

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*normlize */
html {
  box-sizing: border-box;
  text-rendering: optimizelegibility; }

*, *:before, *:after {
  box-sizing: inherit; }

th {
  text-align: inherit; }


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }


.row {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Default col */
.col {
  float: left;
  width: 100%; }

/* ==========================================================================
  	 响应式布局
   ========================================================================== */
.col-1 {
  width: 8.33333%;
  float: left; }

.col-offset-1 {
  float: left;
  margin-left: 8.33333%; }

.col-2 {
  width: 16.66667%;
  float: left; }

.col-offset-2 {
  float: left;
  margin-left: 16.66667%; }

.col-3 {
  width: 25%;
  float: left; }

.col-offset-3 {
  float: left;
  margin-left: 25%; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-offset-4 {
  float: left;
  margin-left: 33.33333%; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-offset-5 {
  float: left;
  margin-left: 41.66667%; }

.col-6 {
  width: 50%;
  float: left; }

.col-offset-6 {
  float: left;
  margin-left: 50%; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-offset-7 {
  float: left;
  margin-left: 58.33333%; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-offset-8 {
  float: left;
  margin-left: 66.66667%; }

.col-9 {
  width: 100%;
  float: left; }

.col-offset-9 {
  float: left;
  margin-left: 75%; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-offset-10 {
  float: left;
  margin-left: 83.33333%; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-offset-11 {
  float: left;
  margin-left: 91.66667%; }

/* ==========================================================================
   	按钮
   ========================================================================== */
.btn-lava{
	background: #48b84b;
}
input {
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
input[type="radio"],input[type="checkbox"],input[type="file"]{
  border: 0px;
  }

input:not([type="button"&&type="radio"&&type="checkbox"]), select, textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px; }

select {
  padding: 0.35em 0.6em; }

input:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #129FEA; }
